.single-car-container {
  background-color: #f8f9fa;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;
  font-family: "Arial", sans-serif;
}

.single-car-container h1 {
  font-size: 2.5rem;
  color: #eee;
  margin-bottom: 1rem;
  text-align: center;
}

.single-car-details {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: #495057;
  font-size: 1.1rem;
}

.single-car-details p {
  margin: 0.5rem 0;
  color: #eee;
}

.single-car-details p span {
  font-weight: bold;
  color: #6f6f6f;
}

.single-car-image {
  text-align: center;
  margin: 1.5rem 0;
}

.single-car-image img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  border: 1px solid #ced4da;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

@media (prefers-color-scheme: dark) {
  .single-car-container {
    background-color: #343a40;
    color: #f8f9fa;
  }

  .single-car-details p span {
    color: #f8f9fa;
  }

  .single-car-image img {
    border-color: #495057;
  }
}
