* {
  transition: 0.3s;
}

.nav-bar nav {
  font-family: "Quicksand", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1b4fa2;
  padding: 0 60px 0 80px;
  height: 100px;
}

.nav-bar-logo a {
  font-size: 28px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.nav-bar-logo a h1 {
  font-family: "Quicksand", sans-serif;
  font-weight: 700;
}

.nav-bar-menu ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar-menu a {
  font-size: 20px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  border-radius: 20px;
  padding: 10px 20px;
  letter-spacing: 2px;
  border: 1px solid transparent;
}

.nav-bar-menu a:hover {
  background-color: #1c4c9a;
  border: 1px solid #eee;
}

.active {
  background-color: #1c4c9a;
  border: 1px solid #eee;
}

.nav-bar-menu a.active {
  border: 1px solid #eee;
}
